<section class="background-image">
  <div class="container">
    <h2 class="titulo">LISTADO DE JUEGOS</h2>
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col">
        <div class="card">
          <h5 class="card-title">Ahorcado</h5>
          <img
            src="../../../../assets/ahorcado/ahorcado_5.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              ¿Te crees capaz de salvar al hombre? El juego consiste en adivinar la palabra letra por
              letra antes de que se complete el ahorcado. En caso de no adivinarla, perderas
            </p>
            <a routerLink="ahorcado" class="btn btn-primary btn-juego swing"
              >JUGAR</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-title">Mayor Menor</h5>
          <img
            src="../../../../assets/fondos/mayormenorgame.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              ¿Te crees capaz de acertar las cartas? El juego consiste en adivinar si la próxima carta será mayor o menor que la carta actual. 
              Si logras conseguir 3 puntos, ganaras el juego
            </p>
            <a routerLink="mayormenor" class="btn btn-primary btn-juego swing"
              >JUGAR</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-title">Preguntados</h5>
          <img
            src="../../../../assets/fondos/preguntadosgame.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              ¿Te crees tener conocimiento de las banderas de los paises? El juego clasico de Preguntados consiste en adivinar el pais a base de su bandera. 
              Si consigues 4 puntos, ganaras el juego
            </p>
            <a routerLink="preguntados" class="btn btn-primary btn-center swing">JUGAR</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <h5 class="card-title">Aventura Matemática</h5>
          <img
            src="../../../../assets/fondos/mathgame.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              ¿Te crees bueno en las matemáticas? Se trata de un juego para demostrar y mejorar tus
              habilidades matematicas, donde deberas resolver distintos calculos
              matematicos en un determinado tiempo. Si inserta el resultado
              correcto, se le sumara 1 punto, caso contrario no sumara y pasara
              a otro cálculo. Si consigues 8 puntos, ganaras el juego
            </p>
            <a routerLink="aventuramatematica" class="btn btn-primary btn-juego swing">JUGAR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
