.btn{
    border: none;
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-menu{
    border: none;
    --bs-dropdown-bg:transparent;
    --bs-dropdown-link-active-bg:none;
    --bs-dropdown-link-hover-bg:none;
    --bs-dropdown-item-padding-x: 5px;
}
