<div class="background-image">
    <div class="container">
        <div class="card text-center">
            <img class="card-img-top" src="../../../assets/fondos/homecard.gif">
            <div class="card-body">
                <h5 class="card-title">¡Bienvenido!</h5>
                <p class="card-text">Disfruta de una variedad de minijuegos divertidos.<br>
                    ¡Registrate para comenzar con la experiencia!
                </p>
            </div>
        </div>
    </div>
</div>
