<div class="background-image">
    <div class="container">
        <div class="card text-center flip-in-hor-top" >
            <img class="card-img-top mx-auto" [src]="perfil?.avatar_url">
            <div class="card-body">
                <h4 class="card-title">{{perfil?.name}}</h4>
                <p class="card-subtitle">{{perfil?.location}}</p>
                <p class="card-text">{{perfil?.bio}}</p>
                <p><a class="link-offset-2 link-underline link-underline-opacity-0 link" [href]="perfil?.html_url">Github</a></p>
                <br>
                <p class="card-title">Desafio Matemático</p>
                <p class="card-text">El juego <span>Desafio Matematico</span> es un juego para demostrar y mejorar tus habilidades matematicas, 
                    donde deberas resolver distintos calculos matematicos en un determinado tiempo.
                    Si inserta el resultado correcto, se le sumara 1 punto, caso contrario no sumara y pasara a otro cálculo.
                    <br>El objetivo principal del juego es desarrollar el pensamiento crítico y la agilidad mental, superando tus propios récords o competir contra tus amigos
                </p>
            </div>
        </div>
    </div>
</div>